[access "refs/heads/kk_mkt"]
	abandon = group user/dianlujitao (dianlujitao)
	push = group user/dianlujitao (dianlujitao)
	pushMerge = group user/dianlujitao (dianlujitao)
	label-Code-Review = -2..+2 group user/dianlujitao (dianlujitao)
	label-Verified = -1..+1 group user/dianlujitao (dianlujitao)
	rebase = group user/dianlujitao (dianlujitao)
	submit = group user/dianlujitao (dianlujitao)
	editTopicName = group user/dianlujitao (dianlujitao)
